{% extends 'teacher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teacher/create_quiz/quiz.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>Create Adaptive Quiz</h1>

    <div class="row">
        <form method="POST" id="adaptive_form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </div>
{% endblock content %}
