{% extends 'teacher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teacher/create_quiz/quiz.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>Create Canvas Quiz</h1>

    <div class='row'>
        <p class='canvas_link'>
            <a href="/teacher/dashboard/create_quiz/canvas/example">To find Canvas course IDs and quiz IDs you can visit
                this page.</a>
            <br>
            <br>
            Note number of questions and time limit is pulled directly from Canvas.
        </p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </div>
{% endblock content %}