{% extends 'teacher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teacher/create_quiz/canvas_example.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>How To Get Canvas Identifiers</h1>

    <div class="row">
        <p class='example'><i>Example: Getting English Term 2 (course ID 44), Basic quiz (quiz ID 277).</i></p>
        <ol>
            <li>
                Navigate to the course page containing the quiz you wish to take.
                <img class='canvas_img' src="{% static 'images/teacher/canvas_1.png' %}">
            </li>
            <li>
                Navigate to the quiz page for the quiz you wish your student to take.
                <img class='canvas_img' src="{% static 'images/teacher/canvas_2.png' %}">
            </li>
            <li>
                Inspect at the URL.
                <img class='canvas_img' src="{% static 'images/teacher/canvas_3.png' %}">
                <br>
                The number following the 'courses' keyword is the course ID. <i>In this case the course ID is 44.</i>
                <br>
                The number following the 'quizzes' keyword is the quiz ID. <i>In this case the quiz ID is 277.</i>
                <br>
                <br>
                Note not every quiz will be allowed. Assignment quizzes redirecting to non Canvas sites will not work.
            </li>
        </ol>
    </div>
{% endblock content %}