<!--
CODE USED/COPIED

https://stackoverflow.com/questions/57740685/in-a-django-template-how-do-i-print-the-value-in-a-dictionary-when-the-key-is-s
-->

{% extends 'teacher/base.html' %}
{% load static %}
{% load dict_access %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teacher/create_quiz/finalise_quiz.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>Finalise Quiz</h1>

    <div class='row'>
        <h2 class='sub-heading'>Success</h2>
        <p class='details'>All form elements have been successfully authenticated. The quiz has been created</p>

        <h2 class='summary-heading'>Quiz Summary</h2>
        <table>
            <tr class='header-table-row'>
                <th>Form Field</th>
                <th>Form Data</th>
            </tr>
            {% for meta_data, input_data in form_data.items %}
                <tr>
                    {% if meta_data == "Time Limit (in minutes)" and input_data == "0" %}
                        <td class='column-meta'>{{ meta_data }}</td>
                        <td class='column-input'><i>Infinite</i></td>
                    {% else %}
                        <td class='column-meta'>{{ meta_data }}</td>
                        <td class='column-input'><i>{{ input_data }}</i></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        {% if distribution_percentage_data %}
            <h2 class='summary-heading'>Distribution Summary</h2>
            <table>
                <tr class='header-table-row'>
                    <th>Category</th>
                    <th>Percentage</th>
                    <th>Count</th>
                </tr>
                {% for key, value in distribution_percentage_data.items %}
                    <tr>
                        <td class='column-category'>{{ key }}</td>
                        <td class='column-percentage'>{{ value }}%</td>
                        <td class='column-percentage'>{{ distribution_count_data|lookup:key }}</td>
                        <!-- See code used Django Key Template -->
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <div class='centered'>
            <a href="/teacher/dashboard/" class="btn btn-full">Return to Teacher Dashboard</a>
        </div>
    </div>
{% endblock content %}