{% extends 'teacher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teacher/create_quiz/create_quiz.css' %}">
{% endblock head %}

{% block content %}
    <div class='row'>
        <h1 class='centered'>Create a new quiz</h1>
        <h3 class='bold'>Normal Quiz</h3>
        <div class='quiz-wrapper'>
            <div class="body">
                <p>
                    A normal quiz is type of quiz where you can solely determine the difficulty of all the questions
                    that are randomly sampled within a quiz. Every student will have the same questions of the same
                    specified difficulty.
                    <br>
                    </br>
                    <i>Available options - Subject, difficulty, questions category, length of time, number of
                        questions.</i>
                </p>
            </div>
            <div class="button"
            ">
            <a class="btn btn-full" href="/teacher/dashboard/create_quiz/normal/">Create Normal Quiz</a>
        </div>
    </div>

    <!-- 
    CANVAS QUIZZES CURRENTLY NOT SUPPORTED

    <h3 class='heading-padding bold'>Canvas Quiz</h3>
    <div class='quiz-wrapper'>
        <div class="body">
            <p>
                A Canvas quiz is a type of quiz where all questions are copied from a specified Canvas quiz.
                <br>
                </br>
                <i>Requires - quiz_id and course_id</i>
            </p>
        </div>
        <div class="button"
        ">
        <a class="btn btn-full" href="/teacher/dashboard/create_quiz/canvas/">Create Canvas Quiz</a>
    </div>
    </div>
    -->

    <h3 class='heading-padding bold'>Adaptive Quiz</h3>
    <div class='quiz-wrapper'>
        <div class="body">
            <p>
                An adaptive quiz is a type of quiz where the manner in which a student answers will determine the
                following questions. Quite simply if a student begins to preform worse the questions will incrementally
                become easier and vice-versa.
                <br>
                </br>
                <i>Available options - Subject, length of time, number of questions.</i>
            </p>
        </div>
        <div class="button"
        ">
        <a class="btn btn-full" href="/teacher/dashboard/create_quiz/adaptive">Create Adaptive Quiz</a>
    </div>
    </div>

    <h3 class='heading-padding bold'>Previously Wrong Quiz</h3>
    <div class='quiz-wrapper'>
        <div class="body">
            <p>
                A previous wrong quiz is a type of quiz where every question in the quiz will consist of
                questions that the student previously got wrong in other tests (question bank is built
                for students when they decide to take the quiz).
                <br>
                </br>
                <i>Available options - Subject, length of time, number of questions.</i>
            </p>
        </div>
        <div class="button"
        ">
        <a class="btn btn-full" href="/teacher/dashboard/create_quiz/previously_wrong/">Create Previously Wrong Quiz</a>
    </div>
    </div>

    <h3 class='heading-padding bold'>Unseen Questions Quiz</h3>
    <div class='quiz-wrapper'>
        <div class="body">
            <p>
                A unseen questions quiz is a type of quiz where every question in the quiz will consist of
                questions that the student has not seen before (question bank is built for students when
                they decide to take the quiz).
                <br>
                </br>
                <i>Available options - Subject, length of time, number of questions.</i>
            </p>
        </div>
        <div class="button"
        ">
        <a class="btn btn-full" href="/teacher/dashboard/create_quiz/unseen/">Create Unseen Questions Quiz</a>
    </div>
    </div>
    </div>
{% endblock content %}
