<!--
CODE USED/COPIED

https://github.com/akjasim/cb_dj_dependent_dropdown
https://www.youtube.com/watch?v=LmYDXgYK1so
-->

<option value="">---------</option>
{% for difficulty in difficulties %}
    <option value="{{ difficulty.pk }}">{{ difficulty.name.title }} ({{ difficulty.count }} Questions)</option>
{% endfor %}