<!--
CODE USED/COPIED

https://stackoverflow.com/questions/57740685/in-a-django-template-how-do-i-print-the-value-in-a-dictionary-when-the-key-is-s
-->

{% extends 'teacher/base.html' %}
{% load static %}
{% load dict_access %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teacher/create_quiz/distribution.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>Select Quiz Distribution</h1>

    <div class='row'>
        <p class='header'>
            Please enter quiz distribution choices for quiz.
            <br>
            Note you are not required to provide category distributions. Questions will be sampled randomly.
        </p>

        {% if distribution_percentage_data %}
            <table>
            <tr class='header-table-row'>
                <th>Category</th>
                <th>Percentage</th>
                <th>Number of Questions</th>
            </tr>
            {% for key, value in distribution_percentage_data.items %}
                <tr>
                    <td class='column-category'>{{ key }}</td>
                    <td class='column-percentage'>{{ value }}%</td>
                    <td class='column-percentage'>{{ distribution_count_data|lookup:key }}</td>
                    <!-- See code used Django Key Template -->
                    <td class='column-remove'>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="submit" name="delete_{{ key }}" class='remove-button' value="X">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>

        {% for code, description in errors.items %}
            <p class='error_code'>{{ code }} - {{ description }}</p>
        {% endfor %}

        <hr>

        <form class='distribution-form' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="category_submit">
        </form>

        <hr>

        <div class='finalise-div'>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" name="quiz_submit" class='finalise-button' value="Finalise Normal Quiz">
            </form>
        </div>
    </div>
{% endblock content %}
