{% extends 'teacher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teacher/create_quiz/finalise_quiz.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>Finalise Quiz</h1>

    <div class='row'>
        <h2 class='sub-heading'>Failed</h2>
        <p class='details'>There are errors that need to be resolved. The quiz has not been created.</p>
        <table>
            <tr class='header-table-row'>
                <th>Error Code</th>
                <th>Error Description</th>
            </tr>
            {% for code, description in errors.items %}
                <tr>
                    <td class='column-code'>{{ code }}</td>
                    <td class='column-description'>{{ description }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2 class='summary-heading'>Quiz Summary</h2>
        <table>
            <tr class='header-table-row'>
                <th>Form Field</th>
                <th>Form Data</th>
            </tr>
            {% for meta_data, input_data in form_data.items %}
                <tr>
                    <td class='column-meta'>{{ meta_data }}</td>
                    <td class='column-input'><i>{{ input_data }}</i></td>
                </tr>
            {% endfor %}
        </table>
        <div class='centered pad-top'>
            <a href="/teacher/create_quiz/" class="btn btn-full">Return to Quiz Creation</a>
        </div>
    </div>
{% endblock content %}