<!--
CODE USED/COPIED

https://github.com/akjasim/cb_dj_dependent_dropdown
https://www.youtube.com/watch?v=LmYDXgYK1so
-->

{% extends 'teacher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teacher/create_quiz/quiz.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>Create Normal Quiz</h1>

    <div class="row">
        <form method="POST" id="normal_form" data-difficulties-url="{% url 'ajax_load_difficulties' %}">
            <!-- See code used cb_dj_dependent_dropdown -->
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'scripts/teacher/get_difficulties.js' %}"></script>
{% endblock content %}
