<!--
CODE USED/COPIED

https://stackoverflow.com/questions/34062480/footer-at-bottom-of-page-with-dynamic-content-area
-->

{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/style-config.css' %}">
    {% block head %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap"
          rel="stylesheet">

    {% if title %}
        <title>300Selective - {{ title }}</title>
    {% else %}
        <title>300Selective</title>
    {% endif %}
    <link rel="icon" href="{% static 'images/300selective_icon.png' %}">
</head>

<body>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<header>
    <nav>
        <div class="row">
            <img src="{% static 'images/300selective_logo.webp' %}" alt="300Selective Logo" class="logo">
            <ul class="main-nav">
                <li><a href="https://300selective.instructure.com/">Canvas</a></li>
                <li><a href="/student/homepage">My Homepage</a></li>
                <li><a href="/student/issue">Report Issue</a></li>
            </ul>
        </div>
    </nav>
</header>

<section class="content">
    {% block content %}{% endblock %}
</section>

{% if path %}
    <div class='path'>
        {% for item in path %}
            <p class='path-bold'>{{ item }}</p> /
        {% endfor %}
    </div>
{% endif %}
</body>
</html>