{% extends 'student/base.html' %}
{% load static %}
{% load dict_access %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/student/confirm_quiz.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>Begin Quiz</h1>

    <div class='row'>
        <h2 class='sub-heading'>Quiz Details</h2>
        <table>
            <tr class='header-table-row'>
                <th>Form Field</th>
                <th>Form Data</th>
            </tr>
            {% for field, value in quiz_data.items %}
                <tr>
                    {% if field == "Time Limit (in minutes)" and value == "0" %}
                        <td class='column-field'>{{ field }}</td>
                        <td class='column-value'><i>Infinite</i></td>
                    {% else %}
                        <td class='column-field'>{{ field }}</td>
                        <td class='column-value'><i>{{ value }}</i></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        {% if distribution_data %}
            <h2 class='sub-heading separate-tables'>Distribution Details</h2>
            <table>
                <tr class='header-table-row'>
                    <th>Category</th>
                    <th>Percentage</th>
                </tr>
                {% for category, percentage in distribution_data.items %}
                    <tr>
                        <td class='column-category'>{{ category }}</td>
                        <td class='column-percentage'>{{ percentage }}%</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <div class='centered'>
            <a href="/quiz-page/{{ type_to_render }}/{{ quiz_id }}" class="btn btn-full">Commence Quiz</a>
        </div>
    </div>
{% endblock content %}