{% extends 'student/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/dashboard.css' %}">
{% endblock head %}


{% block content %}
    <div class="row">
        <h1 class='heading'>Student Homepage</h1>
        <h3 class='heading'>Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h3>

        <div class='dashboard-table'>
            <div class="dashboard-row">
                <div class="dashboard-column-image">
                    <img src="{% static 'images/create.png' %}" alt="Quiz Image" class='dashboard-image'>
                </div>
                <div class="dashboard-column-text">
                    <a class="link-button btn btn-full" href="/student/homepage/quizzes/">View Available
                        Quizzes/Tests</a>
                </div>
            </div>
            <br>
            <br>
            <div class="dashboard-row">
                <div class="dashboard-column-image">
                    <img src="{% static 'images/results.png' %}" alt="Edit Image" class='dashboard-image'>
                </div>
                <div class="dashboard-column-text">
                    <a class="link-button btn btn-full" href="/student/homepage/results/">View Previous Quiz/Test
                        Results</a>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock content %}
