{% load static %}
<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="{% static 'scripts/circles.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/Chart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/Chart.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/student/end_of_quiz.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/style-config.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap"
          rel="stylesheet">

    <script type="text/javascript" src="{% static 'scripts/Chart.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/Chart.bundle.min.js' %}"></script>

    {% if title %}
        <title>300Selective - {{ title }}</title>
    {% else %}
        <title>300Selective</title>
    {% endif %}

</head>

<body>
<script>
    $(document).ready(function () {
        var csrftoken = '{{csrf_token}}'
        var selected_answer_ids = [];
        var correct_answer_ids = [];
        {% for answer in answers %}
            selected_answer_ids.push({{ answer.1.pk }});
            correct_answer_ids.push({{ answer.2.pk }});
        {% endfor %}

        $.ajax({
            type: 'POST',
            url: '{% url "get_categories_results" %}',
            headers: {"X-CSRFToken": csrftoken},
            data: {
                "selected_answer": JSON.stringify(selected_answer_ids),
                "correct_answer": JSON.stringify(correct_answer_ids)
            },
            success: function (response) {
                var data = $.parseJSON(response);

                var category_labels = [];
                var correct_answer_count = [];
                var incorrect_answer_count = [];

                for (var i = 0; i < data.length; i++) {
                    category_labels.push(data[i].categ_name);
                    correct_answer_count.push(data[i].correct);
                    incorrect_answer_count.push(data[i].incorrect);
                }

                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: category_labels,
                        datasets: [
                            {
                                label: 'Correctly Answered',
                                data: correct_answer_count,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1 // yellow
                            },
                            {
                                label: 'Incorrectly Answered',
                                data: incorrect_answer_count,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 1
                            }

                        ]
                    },
                    options: {
                        scales: {
                            xAxes: [{stacked: true}],
                            yAxes: [{stacked: true}]
                        }
                    }
                });
            }
        });
    });
</script>


<div class="row">
    <div class="col span-1-of-2 box">
        <div id="left-side">
            <h1>Quiz Results</h1>
            <div class="circle" id="circles-1"></div>
            <div id="bar-graph">
                <canvas id="myChart" width="400" height="220"></canvas>
            </div>

        </div>

    </div>
    <div class="col span-1-of-2 box">
        <div id="student-answers">
            {% for answer in answers %}
                <b>Q</b>{{ forloop.counter }}: {{ answer.0.text | safe }}
                <br>
                <div class="selected-answer">
                    <p>Selected Answer:</p>
                </div>
                <div id="selected-answer-content">
                    {{ answer.1.text | safe }}
                </div>
                <br>
                <div class="correct-answer">
                    <p>Correct Answer:</p>
                </div>
                <div id="correct-answer-content">
                    {{ answer.2.text | safe }}
                </div>
                <br>
                <div class="answer-description">
                    <p>Description:</p>
                </div>

                <div id="answer-description-content">
                    {{ answer.0.comments | safe }}
                </div>
                <hr>

            {% endfor %}
        </div>
    </div>
</div>

<script>
    var myCircle = Circles.create({
        id: 'circles-1',
        radius: 60,
        value:               {{final_score}},
        maxValue: 100,
        width: 10,
        text: function (value) {
            return value + '%';
        },
        colors: ['#eb8c86', '#85a3de'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        valueStrokeClass: 'circles-valueStroke',
        maxValueStrokeClass: 'circles-maxValueStroke',
        styleWrapper: true,
        styleText: true
    });
</script>

</body>

</html>
