{% extends 'student/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/error404.css' %}">
{% endblock head %}


{% block content %}
    <h1 class='heading'>404</h1>
    <h1 class='heading'>PAGE NOT FOUND</h1>

    <div class='row'>
        <p class='description'>The page you're searching for does not exist...</p>
        <hr>
        <img src="{% static 'images/error.png' %}" alt="Error Image" class='error-image'>
        <ul class='links-1'>
            <li class='hyperlink'><a href='/student/homepage/'>Student Homepage</a>
                <ul class='links-2'>
                    <li class='hyperlink'><a href='/student/homepage/quizzes/'>View Quizzes</a></li>
                    <li class='hyperlink'><a href='/student/homepage/results/'>View Results</a></li>
                </ul>
            </li>
            <li><a href='/student/issue/'>Report Issue</a></li>
        </ul>
    </div>
{% endblock content %}
