{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/grid.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'base_styles/style.css' %}"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/style-config.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap"
          rel="stylesheet">

    {% if title %}
        <title>300Selective - {{ title }}</title>
    {% else %}
        <title>300Selective</title>
    {% endif %}
</head>

<body>

{{ question.0.text | safe }}

<ul class="ans-list">
    {% for answer in question.1 %}
        <li>
            <input id="{{ answer.id }}"  type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
            <label for="{{ answer.id }}">
                {{ answer.text | safe }}
            </label>
            <br>
        </li>
    {% endfor %}
</ul>

<script type="text/javascript">
  $("#" + {{question.2}}).attr("checked",true);

</script>

</body>

</html>
