{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/grid.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'base_styles/style.css' %}"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/style-config.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/student/quiz-page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap"
          rel="stylesheet">

    {% if title %}
        <title>300Selective - {{ title }}</title>
    {% else %}
        <title>300Selective</title>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Next button functionality: sends POST to views.py -> render_next_question() which renders questions.html with the next question. Stores answers in answers and in views.py too. -->
    <script>
        function redirect() {
            window.location.reload();
        }

        $(document).ready(function () {
            var csrftoken = '{{csrf_token}}'
            var ctr = 0;
            var max = '{{ no_of_question }}'; //extract max questions from database to here
            var answers = [];
            populateNumberOfQuestions(max);

            if ("normal_quiz" !== '{{quiz_type}}'){
              document.getElementById('previous').style.visibility = 'hidden';
            }


            window.setInterval(function () {
                var timer = document.getElementById('timer-header').innerHTML;
                if (timer === "0 : 00 : 00") {
                    $.ajax({
                            type: 'POST',
                            url: '{% url "render_next_question" %}',
                            headers: {"X-CSRFToken": csrftoken},
                            data: {
                                quiz_id: '{{quiz_id}}',
                                idx: ctr,
                                'answers': JSON.stringify(answers),
                                quiz_type: '{{quiz_type}}',
                                'end_early': 1,
                                score: '{{score}}',
                                points: '{{points}}'
                            },
                            success: function (response) {
                                $('#quiz-space').html(response);
                            }
                        }
                    )


                }
            }, 1000);

            $("#next").click(function () {
                var quiz_end_and_last_question = 0;
                if ($('input[name=question_{{ question.id }}]:checked').length === 0) {
                    $.ajax({
                        type: 'GET',
                        url: '{% url "get_remaining_questions" %}',
                        data: {
                            quiz_id: '{{quiz_id}}',
                            idx: ctr,
                            quiz_type: '{{quiz_type}}'
                        },
                        success: function (response) {
                            var data = $.parseJSON(response);
                            var quiz_end = data.ret;
                            quiz_end_and_last_question = quiz_end
                        }
                    });
                    if (quiz_end_and_last_question != 0) {
                        alert("Please select an answer");
                    }
                    return;
                }


                if (ctr < max) {
                    ctr++;
                } else {
                    alert(ctr);
                }
                var ans = $('input[name=question_{{ question.id }}]:checked').val();

                if(ctr-1 < answers.length){
                  console.log(answers);
                  console.log(ctr);
                  answers[ctr-1] = ans;
                }else{
                  answers.push(ans);
                }

                $.ajax({
                    type: 'GET',
                    url: '{% url "get_remaining_questions" %}',
                    data: {
                        quiz_id: '{{quiz_id}}',
                        idx: ctr,
                        quiz_type: '{{quiz_type}}'
                    },
                    success: function (response) {
                        var data = $.parseJSON(response);
                        var quiz_end = data.ret;
                        var text = document.getElementById("next").firstChild;
                        var selector = 'question-content';

                        if (quiz_end === 1) {
                            increment(1);
                            text.data = "Submit";
                        } else if (quiz_end === 0) {
                            document.getElementById('timer-header').innerHTML = "Timer Done"
                            text.data = "Retake";
                            selector = 'quiz-space';
                            $("#next").attr("onclick", "redirect()");
                            document.getElementById('out_of').innerHTML = "<h3 style='white-space: pre'>           End of Quiz</h3>"
                        } else {
                            increment(1);
                            text.data = "Next";
                        }

                        $.ajax({
                                type: 'POST',
                                url: '{% url "render_next_question" %}',
                                headers: {"X-CSRFToken": csrftoken},
                                data: {
                                    quiz_id: '{{quiz_id}}',
                                    idx: ctr,
                                    'answers': JSON.stringify(answers),
                                    quiz_type: '{{quiz_type}}',
                                    'end_early': 0,
                                    score: '{{score}}',
                                    points: '{{points}}'
                                },
                                success: function (response) {
                                    $('#' + selector).html(response);
                                }
                            }
                        )

                        $.ajax({
                                success: function (response) {
                                    $("#stimulus").load('{% url "adaptive_get_stimulus_data" %}');
                                }
                            }
                        )
                    }
                })

            });

            $("#previous").click(function () {
                if (ctr != 0) {
                    ctr--;
                }

                $("#question-content").load("render_next_question", {
                    quiz_id: '{{quiz_id}}',
                    idx: ctr,
                    'answers': JSON.stringify(answers)
                });

                $.ajax({
                    type: 'GET',
                    url: '{% url "get_remaining_questions" %}',
                    data: {
                        quiz_id: '{{quiz_id}}',
                        idx: ctr,
                        quiz_type: '{{quiz_type}}'
                    },
                    success: function (response) {
                        var data = $.parseJSON(response);
                        var quiz_end = data.ret;
                        var selector = 'question-content';

                        {
                            increment(-1);
                        }

                        $.ajax({
                                type: 'POST',
                                url: '{% url "render_next_question" %}',
                                headers: {"X-CSRFToken": csrftoken},
                                data: {
                                    quiz_id: '{{quiz_id}}',
                                    idx: ctr,
                                    'answers': JSON.stringify(answers),
                                    quiz_type: '{{quiz_type}}',
                                    'end_early': 0,
                                    score: '{{score}}',
                                    points: '{{points}}'
                                },
                                success: function (response) {
                                    $('#' + selector).html(response);
                                }
                            }
                        )

                        $.ajax({
                                success: function (response) {
                                    $("#stimulus").load('{% url "adaptive_get_stimulus_data" %}');
                                }
                            }
                        )
                    }
                })
            });
        });
    </script>

</head>

<body onload="getTimeLimit(); updateScreen()">

<header>
    <div class="timer-nav">
        <div class="content-left">
            <button onclick="toggleTimer()" class="show-hide-button" id="show-hide-button">Hide timer</button>
        </div>
        <div class="content-left">
            <div class="timer-top" id="timer-header">
                <!-- Can put the initial time here so it can be pulled by the javascript, and start the timer-->
                <div id="timer-value-placeholder">{{ time_limit }}</div>
            </div>
            <div id="timer-decorator">
                Hours Mins Seconds
            </div>
        </div>
        <div class="content-centre" id="out_of">
            <h3> QUESTION <span id="question-counter">1</span> OF {{ no_of_question }}</h3>
        </div>
    </div>

    <div class="bottom-nav">
        <div class="content-right">
            <button id="next" class="next-question-button">Next</button>
        </div>
        <div class="content-left">
            <button id="previous" class="previous-question-button">Back</button>
        </div>
        <!-- <div class="content-right">
            <button>FLAG BUTTON, NOT PROGRAMMED YET</button>
        </div> -->
    </div>
</header>


<section class="content">
    <div class="question-and-stimulus">
        <div class="question">
            <div class="question-container">
                {% block content %}
                    {% if results %}
                        <div class="row">

                            <h1>Your answers:</h1>
                            <br>
                            {% for question, answer in question_list %}
                                {{ question.text | safe }}
                                <br>
                                <br>
                                <br>
                                {{ answer.text | safe }}
                                <br>
                                <br>
                                <br>
                            {% endfor %}

                            <a href="{% url 'student_quiz_view' %}">Take quiz again</a>
                        </div>

                    {% else %}

                        <div class="row" id="quiz-space">

                            <div id="stimulus-column" class="col span-1-of-2 box">
                                <div id="stimulus">
                                    {{ stimulus.text | safe }}
                                </div>
                            </div>

                            <div id="question-content" class="col span-1-of-2 box">


                                {% if error_message %}
                                    <p><strong>{{ error_message }}</strong></p>
                                {% endif %}

                                <form method="POST" action=".">
                                    {% csrf_token %}

                                    {{ question.0.text | safe }}
                                    <ul class="ans-list">
                                        {% for answer in question.1 %}
                                            <li>
                                                <input type="radio" id = "{{ answer.id }}" name="question_{{ question.id }}"
                                                       value="{{ answer.id }}">
                                                <label for="{{ answer.id }}">
                                                    {{ answer.text | safe }}
                                                </label>
                                                <br>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </form>
                            </div>

                        </div>

                    {% endif %}

                {% endblock content %}

            </div>
        </div>
    </div>


</section>
<script src="{% static 'scripts/quiz_timer_header.js' %}"></script>
<script src="{% static 'scripts/quiz_timer_toggle.js' %}"></script>
<script src="{% static 'scripts/question_navigation.js' %}"></script>

</body>

</html>
