<!-- 
This is a temporary structure until the LTI structure is done and we can properly identify students/teachers
this is a bad practice currently
-->

{% extends 'student/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/quiz.css' %}">
{% endblock head %}


{% block content %}

    <div class="row">
        {% for key, value in questions.items %}

            <!-- This is Django's funky way of doing value[i].text -->
            {{ value.0.text|safe }}
            <br>
            <br>

            <form>
                <ul class="ans-list">
                    {% for val in value|slice:"1:" %}
                        <li><input type='radio' name='q-ans' id='radio' value="{{ val.text }}"> <label
                                for='radio-1'>{{ val.text }}</label></li>
                        <br>
                    {% endfor %}
                </ul>
            </form>
            <br>
            <hr>
            <br>
            <br>
        {% endfor %}
    </div>

    <input type='button' id='btn' value='Submit'>

    <script src="{% static 'scripts/submit_button.js' %}"></script>

{% endblock content %}
