<!--
This is a temporary structure until the LTI structure is done and we can properly identify students/teachers
this is a bad practice currently
-->

{% extends 'student/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/quiz.css' %}">
{% endblock head %}


{% block content %}

    {# a bit jank but for now just passing a flag thru to render either the quiz or the results #}
    {% if results %}
        <div class="row">

            <h1>Your answers:</h1>
            <br>
            {% for question, answer in question_list %}
                {{ question.text | safe }}
                <br>
                {{ answer.text }}
                <br>
                <br>
                <br>
            {% endfor %}

            <a href="{% url "student_quiz_view" %}">Take quiz again</a>
        </div>

    {% else %}

        <div class="row">

            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}

            <form method="POST" action=".">
                {% csrf_token %}

                {# question is the question object, answers is list of answer objects #}
                {% for question, answers in question_list %}
                    {{ question.text | safe }}
                    <br>
                    <br>

                    <ul class="ans-list">
                        {% for answer in answers %}
                            <li>
                                <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                                <label for="{{ answer.id }}">
                                    {{ answer.text }}
                                </label>
                                <br>
                            </li>
                        {% endfor %}
                    </ul>

                    <br>
                    <br>
                    <br>
                    <br>
                {% endfor %}

                <input type="submit" value="Submit">
            </form>

        </div>

    {% endif %}

{% endblock content %}
