<!-- 
This is a temporary structure until the LTI structure is done and we can properly identify students/teachers
this is a bad practice currently
-->

{% extends 'student/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/quiz.css' %}">
{% endblock head %}


{% block content %}

    <div class="row">

        <h1>Your answers:</h1>

        {% for question, answer in question_list %}
            {{ question.text | safe }}
            <br>
            {{ answer.text }}
            <br>
        {% endfor %}

        <a href="{% url "student_quiz_view" %}">Take quiz again</a>

    </div>

{% endblock content %}
