{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/grid.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'base_styles/style.css' %}"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'base_styles/style-config.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap"
          rel="stylesheet">

    {% if title %}
        <title>300Selective - {{ title }}</title>
    {% else %}
        <title>300Selective</title>
    {% endif %}
</head>

<body>

{{ stimulus.0.text|safe }}


</body>

</html>
