{% extends 'student/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/student/view_results.css' %}">
{% endblock head %}


{% block content %}
    <h1 class='heading'>Quizzes/Tests Results</h1>

    <div class='row'>
        {% if not normal_result_data and not canvas_result_data and not adaptive_result_data and not previously_wrong_result_data and not unseen_questions_result_data %}
            <div class='null-quizzes'>
                <p>You currently have no quiz/test results.</p>
            </div>
        {% endif %}

        {% if normal_result_data %}
            <div class='quiz-heading'>
                <h3 class='quiz-type'>Normal Quizzes</h3>
                <p class='inline-description'>- Quiz with a single difficulty but may have varying distribution of
                    question types.</p>
            </div>
            <table>
                <tr class='header-table-row'>
                    <th class='column-title'>Title</th>
                    <th class='column-subject'>Subject</th>
                    <th class='column-other'>Number of Attempts</th>
                    <th class='column-other'>Date of Last Attempt</th>
                </tr>
                {% for quiz in normal_result_data %}
                    <tr class='quiz-item' onclick="viewAttempts('normal', {{ quiz.pk }})">
                        <td class='item-column-title'>{{ quiz.name }}</td>
                        <td class='centered'>{{ quiz.subject }}</td>
                        <td class='centered'>{{ quiz.attempts }}</td>
                        <td class='centered'>{{ quiz.last_attempt }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <!-- 
        CANVAS QUIZZES CURRENTLY NOT SUPPORTED

        {% if canvas_result_data %}
            <div class='quiz-heading'>
                <h3 class='quiz-type'>Canvas Quizzes</h3>
                <p class='inline-description'>- Quiz carefully planned and designed by our tutors. Not randomly
                    generated.</p>
            </div>
            <table>
                <tr class='header-table-row'>
                    <th class='column-title'>Title</th>
                    <th class='column-subject'>Subject</th>
                    <th class='column-other'>Number of Attempts</th>
                    <th class='column-other'>Date of Last Attempt</th>
                </tr>
                {% for quiz in canvas_result_data %}
                    <tr class='quiz-item' onclick="viewAttempts('canvas', {{ quiz.pk }})">
                        <td class='item-column-title'>{{ quiz.name }}</td>
                        <td class='centered'>{{ quiz.subject }}</td>
                        <td class='centered'>{{ quiz.attempts }}</td>
                        <td class='centered'>{{ quiz.last_attempt }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        -->

        {% if adaptive_result_data %}
            <div class='quiz-heading'>
                <h3 class='quiz-type'>Adaptive Quizzes</h3>
                <p class='inline-description'>- Quiz that will change difficulty according to your answers.</p>
            </div>
            <table>
                <tr class='header-table-row'>
                    <th class='column-title'>Title</th>
                    <th class='column-subject'>Subject</th>
                    <th class='column-other'>Number of Attempts</th>
                    <th class='column-other'>Date of Last Attempt</th>
                </tr>
                {% for quiz in adaptive_result_data %}
                    <tr class='quiz-item' onclick="viewAttempts('adaptive', {{ quiz.pk }})">
                        <td class='item-column-title'>{{ quiz.name }}</td>
                        <td class='centered'>{{ quiz.subject }}</td>
                        <td class='centered'>{{ quiz.attempts }}</td>
                        <td class='centered'>{{ quiz.last_attempt }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if previously_wrong_result_data %}
            <div class='quiz-heading'>
                <h3 class='quiz-type'>Previously Wrong Quizzes</h3>
                <p class='inline-description'>- Quiz that contains questions you previously have got wrong.</p>
            </div>
            <table>
                <tr class='header-table-row'>
                    <th class='column-title'>Title</th>
                    <th class='column-subject'>Subject</th>
                    <th class='column-other'>Number of Attempts</th>
                    <th class='column-other'>Date of Last Attempt</th>
                </tr>
                {% for quiz in previously_wrong_result_data %}
                    <tr class='quiz-item' onclick="viewAttempts('previously_wrong', {{ quiz.pk }})">
                        <td class='item-column-title'>{{ quiz.name }}</td>
                        <td class='centered'>{{ quiz.subject }}</td>
                        <td class='centered'>{{ quiz.attempts }}</td>
                        <td class='centered'>{{ quiz.last_attempt }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if unseen_questions_result_data %}
            <div class='quiz-heading'>
                <h3 class='quiz-type'>Unseen Questions Quizzes</h3>
                <p class='inline-description'>- Quiz that contains questions you have not seen before.</p>
            </div>
            <table>
                <tr class='header-table-row'>
                    <th class='column-title'>Title</th>
                    <th class='column-subject'>Subject</th>
                    <th class='column-other'>Number of Attempts</th>
                    <th class='column-other'>Date of Last Attempt</th>
                </tr>
                {% for quiz in unseen_questions_result_data %}
                    <tr class='quiz-item' onclick="viewAttempts('unseen', {{ quiz.pk }})">
                        <td class='item-column-title'>{{ quiz.name }}</td>
                        <td class='centered'>{{ quiz.subject }}</td>
                        <td class='centered'>{{ quiz.attempts }}</td>
                        <td class='centered'>{{ quiz.last_attempt }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        /*
        CODE USED/UTILISED
        https://stackoverflow.com/questions/37869042/django-javascript-post-request
        https://stackoverflow.com/questions/23349883/how-to-pass-csrf-token-to-javascript-file-in-django
        https://stackoverflow.com/questions/22253844/render-not-rendering-template
        https://stackoverflow.com/questions/29137910/redirecting-after-ajax-post-in-django
        */

        function viewAttempts(quiz_type, key) {
            var csrftoken = '{{ csrf_token }}';
            $.ajax({
                type: "POST",
                url: '/student/homepage/results/',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'quiz_type': quiz_type,
                    'quiz_key': key
                },
                dataType: "text",
                success: function (data) {
                    window.location = "/student/homepage/results/attempts/";
                }
            });
        }
    </script>
{% endblock content %}
