{% extends 'student/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/student/view_attempts.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>Quiz Attempts</h1>

    <div class='row'>

        <table class='results-table'>
            <tr class='results-header-table-row results-row'>
                <th class='column-header results-header-data'>Score</th>
                <th class='column-header results-header-data'>Percentage</th>
                <th class='column-header results-header-data'>Date</th>
            </tr>
            {% for quiz in quiz_results %}
                <tr class='results-item results-row'>
                    <td class='results-item results-header-data'>{{ quiz.score }}</td>
                    <td class='results-item results-header-data'>{{ quiz.percentage }}%</td>
                    <td class='results-item results-header-data'>{{ quiz.date }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2 class='sub-heading separate-tables'>Quiz Details</h2>
        <table>
            <tr class='quiz-header-table-row quiz-table-rows'>
                <th>Form Field</th>
                <th>Form Data</th>
            </tr>
            {% for field, value in quiz_data.items %}
                <tr class='quiz-table-rows'>
                    {% if field == "Time Limit (in minutes)" and value == "0" %}
                        <td class='column-field'>{{ field }}</td>
                        <td class='column-value'><i>Infinite</i></td>
                    {% else %}
                        <td class='column-field'>{{ field }}</td>
                        <td class='column-value'><i>{{ value }}</i></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        {% if distribution_data %}
            <h2 class='sub-heading separate-tables'>Distribution Details</h2>
            <table>
                <tr class='quiz-header-table-row quiz-table-rows'>
                    <th>Category</th>
                    <th>Percentage</th>
                </tr>
                {% for category, percentage in distribution_data.items %}
                    <tr class='quiz-table-rows'>
                        <td class='column-category'>{{ category }}</td>
                        <td class='column-percentage'>{{ percentage }}%</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <h2 class='sub-heading separate-tables'>Question and Answers</h2>
        {% for data in quiz_result_object.answers.all %}

            <h3> Question {{ forloop.counter }} : </h3>{{ data.question.text | safe }}
            Your Answer :{{ data.selected_answer.text | safe }} <br>
            <br>
        {% endfor %}


    </div>
{% endblock content %}
