li {
    padding-bottom: 50px;
}

.example {
    text-align: center;
    padding-bottom: 40px;
}


.heading {
    text-align: center;
    padding-bottom: 50px;
}

.canvas_img {
    width: 90%;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
