.quiz-wrapper {
    display: table-row;
}

.centered {
    text-align: center;
    padding-bottom: 50px;
}

.heading-padding {
    padding-top: 100px;
}

.bold {
    font-weight: bold;
}

.body {
    width: 70%;
    display: table-cell;
}

.button {
    text-align: center;
    vertical-align: middle;
    width: 25%;
    display: table-cell;
}