table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

tr {
    height: 60px;
}

p {
    margin-bottom: 50px;
}

p.header {
    text-align: center;
}

p.error_code {
    color: red;
    font-weight: bold;
}

input.finalise-button {
    font-weight: bold;
    font-size: 25px;
}

.heading {
    text-align: center;
    padding-bottom: 50px;
}

.header-table-row {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.column-category {
    width: 600px;
    padding-left: 10px;
}

.column-percentage {
    width: 200px;
    text-align: center;
}

.column-remove {
    width: 100px;
    text-align: center;
}

.remove-button {
    font-size: 25px;
    width: 50px;
}

.distribution-form {
    padding-top: 50px;
    padding-bottom: 50px;
}

.finalise-div {
    padding-top: 50px;
    text-align: center;
}
