table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    height: 60px;
}


.heading {
    text-align: center;
    padding-bottom: 50px;
}

.sub-heading {
    text-align: center;
    padding-bottom: 25px;
}

.summary-heading {
    padding-top: 50px;
    padding-bottom: 25px;
}

.header-table-row {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.details {
    text-align: center;
    padding-bottom: 30px;
}

.column-meta {
    width: 600px;
}

.column-input {
    text-align: center;
    width: 600px;
}

.centered {
    padding-top: 50px;
    text-align: center;
}

.column-category {
    width: 600px;
    padding-left: 10px;
}

.column-percentage {
    width: 200px;
    text-align: center;
}


