label, input {
    display: block;
}


input[type=submit] {
    width: 100px;
}

p {
    margin-bottom: 50px;
}

.heading {
    text-align: center;
    padding-bottom: 50px;
}

.canvas_link {
    text-align: center;
}