table {
    border-radius: 25px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid rgba(39, 38, 38, 0.8);
}

tr {
    height: 40px;
}

.quiz-item:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(230, 33, 33, 1.0);
}

.heading {
    text-align: center;
}

.header-table-row {
    text-align: center;
    background-color: black;
    color: white;
}

.column-title {
    font-size: 16px;
    width: 80%;
}

.column-subject {
    font-size: 16px;
    width: 20%;
}

.item-column-title {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 50px;
}

.centered {
    font-size: 16px;
    text-align: center;
}

.quiz-heading {
    padding-top: 65px;
    padding-bottom: 10px;
}

.quiz-type {
    display: inline;
    font-weight: bold;
}

.inline-description {
    display: inline;
}

.null-quizzes {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}