/*
CODE USED/UTILISED

https://stackoverflow.com/questions/41407587/how-to-have-space-between-two-a-tag-in-the-same-div
*/

table {
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    height: 60px;
}


a + a { /* Code used space between tags Jhecht */
    margin-left: 100px;
}


.heading {
    text-align: center;
    padding-bottom: 50px;
}

.sub-heading {
    text-align: center;
    padding-bottom: 25px;
}

.header-table-row {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.column-field {
    width: 600px;
}

.column-value {
    text-align: center;
    width: 600px;
}

.centered {
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
}

.separate-tables {
    padding-top: 30px;
}

.column-category {
    width: 600px;
    padding-left: 10px;
}

.column-percentage {
    width: 200px;
    text-align: center;
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}

.swal2-title::after {
    width: 0px;
}

.swal2-input {
    background-color: white !important;
}