{% extends 'teacher/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/student/view_results.css' %}">
{% endblock head %}


{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Results</title>

        <form type="get" action=".">
            <input type="text" id="searchbar" name="search_bar" placeholder="Search for results by student id">
            <button type="submit">Search</button>
        </form>


        <script type="text/javascript">
            document.getElementById("searchbar").value = "{{ query }}"
        </script>


    </head>
    <body>

    <hr>

    <h1> Normal Quizzes </h1>

    <table>

        {% for x in normal_quiz_results %}
            {% if forloop.first %}
                <tr>
                    <td><h3>Quiz Name</h3></td>
                    <td><h3>Subject</h3></td>
                    <td><h3>Difficulty</h3></td>
                    <td><h3>Student ID</h3></td>
                    <td><h3>Date Taken</h3></td>
                    <td><h3>Score</h3></td>
                </tr>
            {% endif %}
            <tr>
                <td>{{ x.quiz.name }}</td>
                <td>{{ x.quiz.subject }}</td>
                <td>{{ x.quiz.difficulty }}</td>
                <td>{{ x.student_id }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.score }}</td>
            </tr>
        {% empty %}
            No results
        {% endfor %}
    </table>

    <hr>

    <!-- 
    CANVAS QUIZZES CURRENTLY NOT SUPPORTED
    
    <h1> canvas quizzes </h1>

    <table border="1" width=80%>

        {% for x in canvas_quiz_results %}
            {% if forloop.first %}
                <tr>
                    <td><h3>Quiz Name</h3></td>
                    <td><h3>Subject</h3></td>
                    <td><h3>Difficulty</h3></td>
                    <td><h3>Student ID</h3></td>
                    <td><h3>Date Taken</h3></td>
                    <td><h3>Score</h3></td>
                </tr>
            {% endif %}
            <tr>
                <td>{{ x.quiz.name }}</td>
                <td>{{ x.quiz.subject }}</td>
                <td>{{ x.student_id }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.score }}</td>
            </tr>
        {% empty %}
            No results
        {% endfor %}
    </table>

    <hr>
    -->

    <h1> adaptive quizzes </h1>

    <table>

        {% for x in adaptive_quiz_results %}
            {% if forloop.first %}
                <tr>
                    <td><h3>Quiz Name</h3></td>
                    <td><h3>Subject</h3></td>
                    <td><h3>Student ID</h3></td>
                    <td><h3>Date Taken</h3></td>
                    <td><h3>Score</h3></td>
                </tr>
            {% endif %}
            <tr>
                <td>{{ x.quiz.name }}</td>
                <td>{{ x.quiz.subject }}</td>
                <td>{{ x.student_id }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.score }}</td>
            </tr>
        {% empty %}
            No results
        {% endfor %}
    </table>

    <hr>

    <h1> previously wrong quizzes </h1>

    <table>

        {% for x in previously_wrong_quiz_results %}
            {% if forloop.first %}
                <tr>
                    <td><h3>Quiz Name</h3></td>
                    <td><h3>Subject</h3></td>
                    <td><h3>Student ID</h3></td>
                    <td><h3>Date Taken</h3></td>
                    <td><h3>Score</h3></td>
                </tr>
            {% endif %}
            <tr>
                <td>{{ x.quiz.name }}</td>
                <td>{{ x.quiz.subject }}</td>
                <td>{{ x.student_id }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.score }}</td>
            </tr>
        {% empty %}
            No results
        {% endfor %}
    </table>

    <hr>

    <h1> unseen question quizzes </h1>

    <table>

        {% for x in unseen_questions_quiz_results %}
            {% if forloop.first %}
                <tr>
                    <td><h3>Quiz Name</h3></td>
                    <td><h3>Subject</h3></td>
                    <td><h3>Student ID</h3></td>
                    <td><h3>Date Taken</h3></td>
                    <td><h3>Score</h3></td>
                </tr>
            {% endif %}
            <tr>
                <td>{{ x.quiz.name }}</td>
                <td>{{ x.quiz.subject }}</td>
                <td>{{ x.student_id }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.score }}</td>
            </tr>
        {% empty %}
            No results
        {% endfor %}
    </table>

    <hr>

    </body>
{% endblock content %}

</html>