{% extends 'teacher/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/dashboard.css' %}">
{% endblock head %}


{% block content %}
    <div class="row">
        <h1 class='heading'>Teacher Dashboard</h1>
        <h3 class='heading'>Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h3>

        <div class='dashboard-table'>
            <div class="dashboard-row">
                <div class="dashboard-column-image">
                    <img src="{% static 'images/create.png' %}" alt="Quiz Image" class='dashboard-image'>
                </div>
                <div class="dashboard-column-text">
                    <a class="link-button btn btn-full" href="/teacher/dashboard/create_quiz/">Create a new quiz</a>
                </div>
            </div>
            <br>
            <br>
            <div class="dashboard-row">
                <div class="dashboard-column-image">
                    <img src="{% static 'images/edit.png' %}" alt="Edit Image" class='dashboard-image'>
                </div>
                <div class="dashboard-column-text">
                    <a class="link-button btn btn-full" href="/teacher/dashboard/manage_quizzes/">Edit an existing
                        quiz</a>
                </div>
            </div>
            <br>
            <br>
            <div class="dashboard-row">
                <div class="dashboard-column-image">
                    <img src="{% static 'images/results.png' %}" alt="Result Image" class='dashboard-image'>
                </div>
                <div class="dashboard-column-text">
                    <a class="link-button btn btn-full" href="/teacher/dashboard/all_results">View quiz results</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
