{% extends 'teacher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/error404.css' %}">
{% endblock head %}


{% block content %}
    <h1 class='heading'>404</h1>
    <h1 class='heading'>PAGE NOT FOUND</h1>

    <div class='row'>
        <p class='description'>The page you're searching for does not exist...</p>
        <hr>
        <img src="{% static 'images/error.png' %}" alt="Error Image" class='error-image'>
        <ul class='links-1'>
            <li class='hyperlink'><a href='/teacher/dashboard/'>Teacher Dashboard</a>
                <ul class='links-2'>
                    <li class='hyperlink'><a href='/teacher/dashboard/create_quiz/'>Create Quiz</a>
                        <ul class='links-2'>
                            <li class='hyperlink'><a href='/teacher/dashboard/create_quiz/normal/'>Create Normal
                                Quiz</a></li>
                            <!-- 
                            CANVAS QUIZZES CURRENTLY NOT SUPPORTED
                            
                            <li class='hyperlink'><a href='/teacher/dashboard/create_quiz/canvas/'>Create Canvas
                                Quiz</a>
                                <ul class='links-3'>
                                    <li class='hyperlink'><a href='/teacher/dashboard/create_quiz/canvas/example/'>Canvas
                                        Quiz Example</a></li>
                                </ul>
                            </li>
                            -->
                            <li class='hyperlink'><a href='/teacher/dashboard/create_quiz/adaptive/'>Create Adaptive
                                Quiz</a></li>
                            <li class='hyperlink'><a href='/teacher/dashboard/create_quiz/previously_wrong/'>Create
                                Previously Wrong Quiz</a></li>
                            <li class='hyperlink'><a href='/teacher/dashboard/create_quiz/unseen/'>Create Unseen
                                Quiz</a></li>
                        </ul>
                    </li>
                    <li class='hyperlink'><a href='/teacher/dashboard/manage_quiz/'>Edit Quiz</a></li>
                    <li class='hyperlink'><a href='/teacher/dashboard/results/'>View Quiz Results</a></li>
                </ul>
            </li>
            <li><a href='/teacher/issue/'>Report Issue</a></li>
        </ul>
    </div>
{% endblock content %}
