<!-- 
This is a temporary structure until the LTI structure is done and we can properly identify students/teachers
this is a bad practice currently
-->


{% extends 'teacher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/report_issue.css' %}">
{% endblock head %}


{% block content %}
    <h1 class='heading'>Report an Issue</h1>

    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </div>
{% endblock content %}
