{% extends 'teacher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/report_issue.css' %}">
{% endblock head %}


{% block content %}
    <h1 class='heading'>SUCCESS!</h3>
    <h3 class='heading'>Thank you your issue has been logged.</h3>
{% endblock content %}
