/*
CODE USED/COPIED

https://stackoverflow.com/questions/34062480/footer-at-bottom-of-page-with-dynamic-content-area
*/

/*
Orange official: #e62121
*/

/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: rgb(223, 223, 223);
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 40px;
    /* bottom = footer height */
}

.breakpoint {
    display: none;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.box {
    padding: 1%;
}


/* ------------------------------------- */
/* HEADINGS */
/* ------------------------------------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(36, 36, 36);
    font-size: 250%;
    word-spacing: 1px;
}

h2 {
    font-size: 170%;
    word-spacing: 2px;
    text-align: center;
    color: #e62121;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e62121;
    content: " ";
    width: 180px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

header {
    background-color: #e62121;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 1px 1px 2px;

}

.main-nav {
    float: left;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 80px;
}

.main-nav li:first-of-type {
    margin-left: 80px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    padding: 4px 0px;
    text-decoration: none;
    font-size: 80%;
    font-weight: 900;
    -webkit-transition: border-bottom 0.2s;
}

.logo {
    float: left;
    margin: 10px 60px;
}

/* ------------------------------------- */
/* BUTTONS */
/* ------------------------------------- */

.btn:link,
.btn:visited {
    text-decoration: none;
    color: rgb(226, 225, 225);
    padding: 10px 10px;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 0.5px solid #e62121;
    color: #e62121;
}

.btn-ghost:hover {
    background-color: #e62121;
    color: rgb(226, 225, 225);
}

.btn-full {
    border: 0.5px solid rgba(59, 59, 59, 0.301);
}

.btn-full:link,
.btn-full:visited {
    background-color: #e62121;
}

.btn-full:hover {
    background-color: #be1a1a;
}
