/*
CODE USED/COPIED

https://stackoverflow.com/questions/34062480/footer-at-bottom-of-page-with-dynamic-content-area
*/

input[type=email],
input[type=text],
input[type=number],
select,
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #6a6a6a;
    background-color: #d3d3d3;
    color: #747474;
}

.path {
    background-color: #e62121;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
    font-style: italic;
}

.path-bold {
    display: inline;
    text-align: center;
    font-weight: bold;
}

