#student-answers {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
    width: 47%;
    padding-right: 20px;
    position: absolute;
    top: 15%;
    left: 52%;
}

#left-side {
    overflow-y: scroll;
    height: 600px;
    width: 47%;
    padding-right: 20px;
    position: absolute;
    top: 15%;
    left: 2%;
}

#circles-1 {
    display: inline;
    float: right;
}

#left-side h1 {
    font-weight: 300;
    font-family: 'Merriweather', 'Arial', serif;
    display: inline;
    float: left;
}

#bar-graph {
    display: block;
}

.selected-answer p {
    color: blue;
}

.correct-answer p {
    color: blue;
}

#left-side h1:after {
    display: block;
    height: 2px;
    background-color: #e62121;
    content: " ";
    width: 180px;
    margin: 0 auto;
    margin-top: 30px;
}
