/* This css for the timer of the quiz-page and overall quiz page css
 so that the timer can stay on top of the header
 This should override the one already defined on style-config.css
 */

 html, body {
    margin: 0% 0%;
    padding-top: 5%;
    /* height: 100%; */
    overflow: hidden;
}

.span-1-of-2:after {
    content: "";
    background-color: #e62121;
    position: fixed;
    width: 2px;
    height: 100%;
    top: 10%;
    left: 50%;
    display: block;
}

/*Timer nav is the navigation bar on top of the page */
.timer-nav {
    overflow: hidden;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 10%;
    background-color: #e62121;
}

/*.timer-nav a {*/
/*  float: left;*/
/*  display: block;*/
/*  color: #f2f2f2;*/
/*  text-align: center;*/
/*  padding: 14px 16px;*/
/*  text-decoration: none;*/
/*  font-size: 17px;*/
/*}*/

.timer-nav .content-left {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    white-space: nowrap;
}

.timer-nav .content-right {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 2% 1%;
    text-decoration: none;
}

.timer-nav .content-centre {
    float: left;
    position: fixed;
    left: 42%; /*Although it's a bit weird,where it should be 50%, this centres the content*/
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 2% 1%;
    text-decoration: none;
}


/*
Navbar at the bottom of the page
 */
.bottom-nav {
    overflow: hidden;
    position: fixed;
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    height: 10%;
    background-color: #e62121;
}

/* Style the links inside the navigation bar */
.bottom-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bottom-nav .content-left {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
}

.bottom-nav .content-right {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
}

.bottom-nav .previous-question-button {
    background-color: #FFFFFF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.bottom-nav .next-question-button {
    background-color: #FFFFFF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    float: left;
    overflow: hidden;
}

.show-hide-button {
    max-width: 120px;
    min-width: 120px;
    font-size: 100%;
    border: solid;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


#timer-header {
    font-size: 200%;
    display: block;
    color: #FFFFFF;
    background: #e62121;
    height: 2%;
    width: 100%;
    padding: 1% 1%;
    text-align: left;
}

#timer-decorator {
    font-size: 100%;
    display: block;
}

#stimulus {
    text-align: left;
    padding: 0% 0% 20% 0%;
    /*empty because no need to be stylized, but just used this as an id for javascript to extract the value*/
}

#timer-value-placeholder {
    /*empty because no need to be stylized, but just used this as an id for javascript to extract the value*/
}

#question-counter {
    /*empty because no need to be stylized, but just used this as an id for javascript to extract the value*/
}

.question {
}

#timer-value-placeholder {

}

.ans-list {
    list-style: none;
    margin-left: 50px;
}

#stimulus img {
    width: 100%;
    height: auto;
}

#stimulus {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: -1;
    width: 774px;
    padding-right: 50px;
    padding-top: 0 !important;
    margin-left: 10px !important;
}

#question-content {
    position: absolute;
    left: 50%;
    top: 10%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 650px;
}

.ans-list {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 50px;
}

.ans-list li {
    margin-top: 10px;
}