table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid rgba(230, 33, 33, 0.4);
}

tr {
    height: 60px;
}

.quiz-item:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(230, 33, 33, 0.8);
}

.heading {
    text-align: center;
    padding-bottom: 20px;
}

.header-table-row {
    text-align: center;
    background-color: black;
    color: white;
}

.column-title {
    width: 60%;
}

.column-avail {
    width: 20%;
}

.column-date {
    width: 20%;
}

.item-column-title {
    padding-left: 10px;
    padding-right: 50px;
}

.centered {
    text-align: center;
}