table {
    margin-left: auto;
    margin-right: auto;
}


.quiz-table-rows {
    height: 60px;
}

.heading {
    text-align: center;
    padding-bottom: 50px;
}

.sub-heading {
    text-align: center;
    padding-bottom: 25px;
}

.quiz-header-table-row {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.column-field {
    width: 600px;
}

.column-value {
    text-align: center;
    width: 600px;
}

.centered {
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
}

.separate-tables {
    padding-top: 50px;
}

.column-category {
    width: 600px;
    padding-left: 10px;
}

.column-percentage {
    width: 200px;
    text-align: center;
}

.results-table {
    border-radius: 25px;
    border-collapse: collapse;
    width: 80%;
    table-layout: fixed;
}

.results-header-data {
    border: 2px solid rgba(39, 38, 38, 0.8);
}

.results-row {
    height: 40px;
}

.results-header-table-row {
    text-align: center;
    background-color: black;
    color: white;
}

.column-header {
    font-size: 16px;
    width: 20%;
}

.results-item {
    font-size: 16px;
    text-align: center;
}
