.heading {
    text-align: center;
    padding-bottom: 20px;
}

.dashboard-table {
    padding-top: 25px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dashboard-row {
    display: table-row;
}

.dashboard-column-image {
    display: table-cell;
    text-align: center;
    width: 35%;
}

.dashboard-column-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.dashboard-image {
    width: 120px;
}

.link-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 400px;
}