html {
    background-color: #e62121;
}

a {
    color: white;
}

a:hover {
    color: blue;
}

.heading {
    text-align: center;
    font-size: 90px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.description {
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px black;
}

.error-image {
    padding-top: 80px;
    float: right;
}

.links-1 {
    color: white;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 50px;
}

.links-2 {
    font-size: 20px;
    padding-left: 100px;
}

.links-3 {
    font-size: 18px;
    padding-left: 100px;
}

.links-1, .links-2, .links-3::hover {
    text-decoration: underline;
}

.hyperlink {
    padding-top: 8px;
}