label, input {
    display: block;
}

input[type=file] {
    font-size: 15px;
}

input[type=submit] {
    width: 100px;
}

p {
    margin-bottom: 50px;
}

.heading {
    text-align: center;
    padding-bottom: 50px;
}