{% extends 'teacher/base.html' %}
{% load static %}
{% load dict_access %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teacher/manage_quiz/modify_quiz.css' %}">
{% endblock head %}

{% block content %}
    <h1 class='heading'>Modify Quiz</h1>

    <div class='row'>
        <h2 class='sub-heading'>Quiz Details</h2>
        <table>
            <tr class='header-table-row'>
                <th>Form Field</th>
                <th>Form Data</th>
            </tr>
            {% for field, value in quiz_data.items %}
                <tr>
                    {% if field == "Time Limit (in minutes)" and value == "0" %}
                        <td class='column-field'>{{ field }}</td>
                        <td class='column-value'><i>Infinite</i></td>
                    {% else %}
                        <td class='column-field'>{{ field }}</td>
                        <td class='column-value'><i>{{ value }}</i></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        {% if distribution_data %}
            <h2 class='sub-heading separate-tables'>Distribution Details</h2>
            <table>
                <tr class='header-table-row'>
                    <th>Category</th>
                    <th>Percentage</th>
                </tr>
                {% for category, percentage in distribution_data.items %}
                    <tr>
                        <td class='column-category'>{{ category }}</td>
                        <td class='column-percentage'>{{ percentage }}%</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <div class='centered'>
            <a href='#' onclick="renameQuiz('{{ quiz_id.type }}', {{ quiz_id.pk }})" class="btn btn-full">Rename
                Quiz</a>
            <a href='#' onclick="deleteQuiz('{{ quiz_id.type }}', {{ quiz_id.pk }})" class="btn btn-full">Delete
                Quiz</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        /*
        CODE USED/UTILISED
        https://stackoverflow.com/questions/37869042/django-javascript-post-request
        https://stackoverflow.com/questions/23349883/how-to-pass-csrf-token-to-javascript-file-in-django
        https://stackoverflow.com/questions/22253844/render-not-rendering-template
        https://stackoverflow.com/questions/29137910/redirecting-after-ajax-post-in-django
        https://sweetalert2.github.io/
        https://sweetalert2.github.io/v7.html#input-types
        https://stackoverflow.com/questions/47942149/sweetalert2-example-reports-await-is-only-valid-in-async-functions-and-async-ge
        */

        var csrftoken = '{{ csrf_token }}';

        function deleteQuiz(quiz_type, key) {
            Swal.fire({                                                             /* sweetalert2 code used/copied */
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: '/teacher/dashboard/manage_quizzes/modify/',
                        data: {
                            'csrfmiddlewaretoken': csrftoken,
                            'instruction': 'delete',
                            'quiz_type': quiz_type,
                            'quiz_key': key
                        },
                        dataType: "text",
                        success: function (data) {
                            window.location = "/teacher/dashboard/manage_quizzes";
                        }
                    });
                }
            })
        }

        function renameQuiz(quiz_type, key) {
            (async () => {                                                          /* sweetalert2 code used/copied */
                const {value: name} = await Swal.fire({
                    title: 'Input New Quiz Name',
                    input: 'text',
                    inputPlaceholder: 'Enter your chose new quiz name',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    inputValidator: (value) => {
                        return !value && 'You need to supply a new name!'
                    }
                })

                if (name) {
                    $.ajax({
                        type: "POST",
                        url: '/teacher/dashboard/manage_quizzes/modify/',
                        data: {
                            'csrfmiddlewaretoken': csrftoken,
                            'instruction': 'rename',
                            'quiz_type': quiz_type,
                            'quiz_key': key,
                            'name': name
                        },
                        dataType: "text",
                        success: function (data) {
                            window.location = "/teacher/dashboard/manage_quizzes";
                        }
                    });
                }
            })()
        }
    </script>
{% endblock content %}